!!!
%html
  %head
    %title Welcome
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .login
      - if current_user
        =current_user.email
        \|
        = link_to "Log out", destroy_user_session_path, method: :delete
    %p.notice= notice
    %p.alert= alert
    = yield